* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
}
.inner{
width: 75%;
max-width: 1440px;
margin: 0 auto;
}
.btn{
  background: #FF900E;
  color:#ffffff;
  font-size: 20px;
  font-weight:500;
  border-radius: 8px;
  padding:20px 25px;
  border: none;
  cursor: pointer;
  transition:transform 0.3s ease,background 0.3s ease;
}
.btn:hover{
  background:#f87001;
  transform: translateY(-3px); 
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubar{
  display:none;
}
.menubar img{
  width:20px;
}
.logo {
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar ul {
  list-style: none;
}
.nav-item {
  position: relative;
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
}
.nav-item:hover{
  color:#FF900E;
}
.nav-item::after{
  content:"";
  position:absolute;
  left:0;
  bottom: -4px;
  height:2px;
  width: 0;
  background:#f87001;
  transition:width 0.5s ease-in-out;
}
.nav-item:hover::after{
  width:100%;
}
.nav-menu {
  display: flex;
  gap: 30px;
}
.banner-content{
  max-width:862px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  line-height: 1.6;

}
.content-heading{
  font-size: 4rem;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
  line-height: 1.1;
}
.content-description{
  font-size: 1rem;
  color:rgba(114, 114, 114, 1);
  padding-bottom: 30px;
  padding-top: 25px;
}

.banner-image{
  display: flex;
  justify-content: center;
}
.banner-img{
  width: 100%;
}

/* features */

.upper-part{
  display: flex;
  justify-content:space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}
.up-content{
  max-width:537px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  margin-left:80px;
}
.up-heading{
  font-size:2.8rem;
  color:rgba(114, 114, 114, 1);
  line-height:1.1;
  font-weight:500;

}
.of-our{
  color: rgba(19, 19, 19, 1);
  font-weight:700;
}
.orange-feature{
  color:#FF900E;
  font-weight:700;
}
.up-description{
  font-size:1rem;
  color:rgba(114, 114, 114, 1);
  line-height: 1.6;
  padding:25px 0;
}
.up-images{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:24px;
}
@media screen and (max-width:576px){
  .inner{
width:90%;
margin: 0 auto;
}
  .logo{
    font-size:1.5rem;
  }
  .btn{
    font-size: 1rem;
    padding:12px;
  }
  .nav-menu{
    display: none;
  }
  .menubar{
    display: block;
  }
  .content-heading {
    font-size: 2rem;
  }
  .banner-content{
    margin-top:50px;
    margin-bottom: 30px;
  }
  .upper-part{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  gap:40px;
}

.up-images img{
  width:100%;
  margin:0 auto;
}
.up-heading {
    font-size: 1.8rem;
    text-align: center;
}
.up-content{
  align-items:center;
  margin:0 auto;
}
.up-description{
  text-align: center;
}
}